<template name="Footer">
  <footer>

    <div style="padding: 15px; background-color: #024E30; color: white; border-radius: 0px; margin: 0px"
         class="ui borderless menu">

      <div class="ui two column grid container">

        <div class="column" style="text-align: left">
          Manoa Flea Market<br>
          UH Manoa

        </div>

        <div class="column" style="text-align: right">
          <i class="copyright icon"></i> 2017 <br>
          All Rights Reserved
        </div>
      </div>
       
    </div>
  </footer>
</template>