<template name="If_Logged_In">
  {{#if authInProcess}}
  <p>loading ...</p>
  {{else}}
  {{#if canShow}}
  {{> UI.contentBlock }}
  {{else}}

  <div class="landing-section-1">
    <div class="ui grid">
      <div class="row">
        <div class="ui right aligned sixteen wide column">
          {{> Cas_Login align="right"}}
        </div>
      </div>
    </div>

    <div style="padding-top: 10px; height: 300px" class="ui middle aligned centered grid text container">
      <div class="ui container">
        <img style="width: 125px; height: 125px" class="ui centered fluid circular image" src="http://www5.pbrc.hawaii.edu/logos/manoaseal_transparent.png">
        <div style="font-size: 50px; font-family: Monospace" class="text">Welcome to the</div>
        <div style="font-size: 50px; font-family: Monospace" class="text">Manoa Flea Market</div>
      </div>
    </div>
  </div>

  <div class="landing-section-2">
    <div style="padding-top: 50px; height: 350px" class="ui middle aligned centered grid text container">
      <div class="ui container">
        <div class="ui two column grid container">
          <div class="middle aligned column">
            <div style="font-size: 25px; font-family: Monospace" class="text">Login with your UH username</div>
          </div>
          <div class="column">
            <img class="ui centered fluid circular image" src="/images/keyboard.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-section-3">
    <div style="padding-top: 50px; height: 350px" class="ui middle aligned centered grid text container">
      <div class="ui container">
        <div class="ui two column grid container">
          <div class="column">
            <img class="ui centered fluid circular image" src="/images/buy.jpeg"/>
          </div>
          <div class="middle aligned column">
            <div style="font-size: 25px; font-family: Monospace" class="text">Post items you would like to sell</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-section-4">
    <div style="padding-top: 50px; height: 400px" class="ui middle aligned centered grid text container">
      <div class="ui container">
        <div class="ui two column grid container">
          <div class="middle aligned column">
            <div style="font-size: 25px; font-family: Monospace" class="text">Find items other UH students are selling</div>
          </div>
          <div class="column">
            <img class="ui centered fluid circular image" src="/images/sell.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/if}}
  {{/if}}
</template>